body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

a:hover {
  text-decoration: none;
}

.questionForm{
  text-align:center;
  color:darkgray;
  font-size:20px;
}

.btn-warning{
  margin-left:10px;

}
